/* font-size: 62,5%; ----- 62,5% de 16px = 10px */

/* == POLICES == */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root{
    --main-color: #647bff;
    --body-color: #090a1a;
    --container-color: #171b3c;
    --heading-color: #222231;
    --box-color: #0d0f26;
    --bg-color: #fff;
}

body {
	color: var(--bg-color);
	background-color: var(--bg-color);
	background-image:url(images/Fond3.png);
	background-size: cover;
	background-attachment: fixed;
	margin:0;
	}

/* scrollbar */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: var(--heading-color);
}

img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
}

/* HEADER */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-active{
    background: var(--box-color);
    transition: 0.4;
}

/* NAVIGATION */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link{
    font-size: 0.94rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: var(--bg-color);
}

.nav-link:hover{
    color: var(--main-color);
    background: var(--container-color);
    transition: 0.3s all linear;
}

/* == MENU ICONE == */

.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index:200;
    transition: 0.3s;
}

.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}

.move .line2{
    opacity: 0;
}

.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

/* == HOME == */
.home{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #af0000;
    overflow: hidden;
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
}

.home-text h3{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--main-color);
}

.home-text h3:hover::before{
    content: "";
    position: relative;
    top: 50%;
    transform: translate(-50%);
    left: -15px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.home-text h3:hover::after{
    content: "";
    position: relative;
    top: 50%;
    transform: translate(-50%);
    right: -35px;
    width: 20px;
    height: 2px;
    background: var(--main-color);
}

.home-text h2{
    font-size: 3.5rem;
    line-height: 4.8rem;
}

.home-text p{
    text-align: center;
    font-size: 0.938rem;
    margin-bottom: 1.5rem;
}

.home-text .color{
    color: var(--main-color);
}

/* == SOCIALS == */
.social{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.9rem;
}

.social .bx{
    font-size: 1.8rem;
    padding: 4px;
    border-radius: 50%;
    color: var(--container-color);
}
.social .bx{
    background: var(--main-color);
    transition: 0.3s all linear;
}

/* == ABOUT / PRESENTATION == */
.about-heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}

.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.about-data{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-data h2{
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin: 1rem 0;
}

.about-text{
    font-size: 0.938rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/** == PORTFOLIO == **/
.portfolio-heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.portfolio-box{
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    overflow: hidden;
}

.portfolio-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-overlay{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: hsl(234, 45%, 16%, 0.7);
}

.portfolio-overlay h2{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.portfolio-overlay .bx{
    font-size: 24px;
    padding: 10px;
    background: var(--main-color);
    color: var(--bg-color);
    border-radius: 4px;
}

.portfolio-overlay .bx:hover{
    background: #546eff;
    transition: 0.3s all linear;
}

.portfolio-box:hover .portfolio-overlay{
    top: 0;
    transition: 0.3s all ease;
}

/* == CONTACT == */
.contact-heading{
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}

/* == CONTACT FORM / FORMULAIRE DE MAIL == */
.contact-form{
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}
.contact-form input, .contact-form textarea{
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 15px;
    color: var(--bg-color);
    background: var(--box-color);
    border-radius: 0.4rem;
}

.contact-form .send-btn{
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: var(--main-color);
    cursor: pointer;
}

.contact-form .send-btn:hover{
    background: #546eff;
    transition: 0.3s all linear;
}

/* == FOOTER == */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1.4rem;
    padding: 30px 0;
}

.footer p{
    font-size: 0.9rem;
    color: var(--bg-color);
}

.footer-links{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.footer-links a{
    font-size: 1rem;
    font-weight: 400;
    color: var(--bg-color);
}

.footer-links a:hover{
    color: var(--main-color);
    transition: 0.3s all linear;
}


/* RESPONSIVE */
@media (max-width: 990px){
    .container{
        margin: 0 auto;
        width: 90%;
    }
}

@media (max-width: 892px){
    section{
        padding: 2rem 0;
    }
    .nav{
        padding: 10px;
    }
    .heading{
        font-size: 4rem;
    }
    portfolio-box{
        height: 257px;
    }
}

@media (max-width: 775px){
    .nav{
        padding: 10px 0;
    }
    .logo{
        font-size:1.1rem;
    }
    .home{
        min-height: 500px;
        padding-top: 6rem;
    }
    .home-text h3{
        font-size:1rem;
    }
    .home-text h2{
        font-size: 3rem;
        line-height: 3.8rem;
    }
    .home-text p{
        font-size: 0.825rem;
    }
    .portfolio-box{
        height: 245px;
    }
    .menu-icon{
        display: flex;
    }
    .navbar{
        position: absolute;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100vh;
        background: var(--box-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .open-menu{
        right: 0;
        transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .nav-link{
        display: block;
        margin: 1rem;
    }
}

@media (max-width: 655px){
    .about-content{
        grid-template-columns: 1fr;
    }
    .about-data span{
        font-size: 0.9rem;
    }
    .about-data h2{
        font-size: 1.7rem;
        line-height: 2.3rem;
        font-weight: 600;
        margin: 0.8rem 0;
    }
    .about-text p{
        font-size: 0.825rem;
        margin-bottom: 1.3rem;
    }
}

@media (max-width: 450px){
    .home{
        min-height: 485px;
        padding-top: 5rem;
    }
    .home-img{
        width: 140px;
        height: 140px;
    }
    .home-img img{
        width: 140px;
        height: 140px;
    }
    .home-text p br{
        display: contents;
    }
    .heading{
        font-size: 3rem;   
    }
    .about-data h2{
        font-size: 1.5rem;
        line-height: 2.1 rem;
        margin: 0.6rem 0;
    }
    .footer-links {
        flex-direction: column;
        row-gap: 1rem;
    }
}

